* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    
    
    padding: 50px 200px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

body {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}

.banner-description {
    font-size: 16px;
    text-align: right;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
.btn-primary{
    
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    
}