* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {

    padding: 50px 200px;

}

.nav-sub-title {
    color: orangered;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

body {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}

.banner-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-description {
    font-size: 16px;
    text-align: right;
    position: absolute;
    font-size: 16px;
    color: #444343;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary {

    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.experience-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-size: 40px;
    font-weight: 700;
}