* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {

    padding: 50px 200px;

}

.nav-sub-title {
    color: orangered;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

body {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}

.banner-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-description {
    font-size: 16px;
    text-align: right;
    position: absolute;
    font-size: 16px;
    color: #444343;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary {

    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.previous-experiences {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.experience-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-size: 40px;
    font-weight: 700;
}

.experience-description {
    font-size: 16px;
    color: #444343;
    margin-top: 24px;



}

.exp-shortlist {
    margin-top: 16px;
    color: #444343;
    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
}

.expo-two {
    margin-top: 8px;
    margin-bottom: 8px;
}

.expo-four {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* my plan style */

.my-plan {
    margin-top: 130px;
}

.my-plan-container {
    display: flex;
    gap: 86px;
}

.section-title {
    position: absolute;
    width: 179px;
    height: 47px;
    left: 711px;
    top: 1792.3px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;

}

.skill-title-one {
    position: absolute;
    width: 270px;
    height: 35px;
    left: 230px;
    top: 2012.26px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-top: 16px;
    margin-bottom: 16px;
}

.skill-description {
    position: absolute;
    width: 177px;
    height: 29px;
    left: 277px;
    top: 2063.26px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.picture-one {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 320px;
    top: 1889px;
}

.skill-title-one {
    position: absolute;
    width: 270px;
    height: 35px;
    left: 230px;
    top: 2012.26px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;

}

.skill-description-one {
    position: absolute;
    width: 177px;
    height: 29px;
    left: 277px;
    top: 2063.26px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 16px;
}

.picture-two {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 631px;
    top: 1889px;
}

.skill-title-two {
    position: absolute;
    width: 156px;
    height: 35px;
    left: 599px;
    top: 2022.26px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.skill-description-two {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    position: absolute;
    width: 181px;
    height: 29px;
    left: 586px;
    top: 2057.3px;
    margin-top: 16px;
    color: #737272;
}

.picture-three {
    position: absolute;
    width: 93px;
    height: 93px;
    left: 916px;
    top: 1889.3px;
}

.skill-title-three {
    position: absolute;
    width: 218px;
    height: 35px;
    left: 853px;
    top: 2018.3px;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    text-align: center;
}

.skill-description-three {
    position: absolute;
    width: 164px;
    height: 29px;
    left: 880px;
    top: 2057.3px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
}

.picture-four {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 1218px;
    top: 1889.3px;
}

.skill-title-four {
    position: absolute;
    width: 174px;
    height: 35px;
    left: 1177px;
    top: 2006.3px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.skill-description-four {
    position: absolute;
    width: 214px;
    height: 29px;
    left: 1157px;
    top: 2057.3px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
}